/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/* Set color variables */
:root {
    --white: #fff;
    --dark-white: #d8d8d8;
    --purple: #79438f;
    --dark-purple: #4b0082;
    --light-purple: #af60bc;
    --light-purple-2: rgba(121, 67, 143, 0.8);
    --grey: rgba(35, 31, 32, 0.5);
    --light-grey: rgba(255, 255, 255, 0.4);
    --orange: #ffb029;
    --light-orange: #ffc966;
}

body {
    background-image: url("./assets/landingPage/hero-background-1440.jpg");
    background-repeat: no-repeat;
}

.navigation {
    display: flex;
    justify-content: space-around;

    margin-top: 27px;
}

.navigation > .right-navigation-box {
    display: none;
}

.navigation > aside > .button-box > .icon-button {
    display: flex;
    align-items: center;

    width: 251px;
    height: 41px;
    margin: 0 8px 0 0;
    border: solid 1px var(--white);
}

.navigation > aside > .button-box > .icon-button > .text {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    color: var(--white);
    font-size: 13px;
    margin-left: 11px;
}

.navigation > aside > .button-box > .icon-button > .arrow-icon {
    margin-left: 35px;
}

.navigation > aside > .button-box > .purple-button {
    width: 250px;
    height: 29px;
    background: linear-gradient(
        to left,
        var(--dark-purple) 0%,
        var(--light-purple) 100%
    );

    margin-left: 12px;

    display: flex;
    align-items: center;

    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    color: var(--white);
}

.navigation > aside > .button-box > .purple-button > .add-icon {
    margin-left: 16px;
}

.navigation > aside > .button-box > .purple-button > .text {
    margin-left: 10px;
}

.navigation > aside > .second-box {
    margin-left: 40px;
}

.navigation > .right-navigation-box > .about-box {
    display: flex;
    flex-direction: column;

    color: var(--white);
    padding-top: 12px;
    margin-left: 44px;
}

.navigation > .right-navigation-box > .about-box > .divider {
    width: 126px;
    height: 0.1px;
    margin: 12px 0 12px;
    border: solid 1px var(--dark-purple);
}

.navigation > .right-navigation-box > .about-box > .item {
    margin-bottom: 11px;
}

.navigation > .right-navigation-box > .language-box {
    display: flex;

    color: var(--white);
    padding-top: 12px;
    margin-left: 44px;
}

.navigation > .right-navigation-box > .language-box > .column-1 {
    margin-right: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navigation > .right-navigation-box > .language-box > .column-2 {
    margin-right: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navigation > .right-navigation-box > .language-box > .column-1 > .circle {
    border-radius: 50%;
    border: 1px solid var(--white);
    font-size: 13px;
    padding: 6px 6px 6px 5px;
    height: 30px;
    width: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 6px;

    cursor: pointer;
}

.navigation > .right-navigation-box > .language-box > .column-2 > .circle {
    border-radius: 50%;
    border: 1px solid var(--white);
    font-size: 13px;
    padding: 6px 6px 6px 5px;
    height: 30px;
    width: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 6px;

    cursor: pointer;
}

.navigation > .right-navigation-box > .language-box > .column-1 > .large {
    font-size: 15px;
    padding: 10px 10px 10px 11px;
    height: 40px;
    width: 40px;
}

.navigation > .right-navigation-box > .language-box > .column-2 > .large {
    font-size: 15px;
    padding: 10px 10px 10px 11px;
    height: 40px;
    width: 40px;
}

.navigation > .right-navigation-box > .language-box > .column-1 > .active {
    background: linear-gradient(
        to left,
        var(--dark-purple) 0%,
        var(--light-purple) 100%
    );
}

.navigation > .right-navigation-box > .language-box > .column-2 > .active {
    background: linear-gradient(
        to left,
        var(--dark-purple) 0%,
        var(--light-purple) 100%
    );
}

/* Hero section */
.hero-section {
    margin: 137px 20px 0px 20px;
}

/* Header of hero section */
.hero-section > header {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-bottom: 32px;
}

.hero-section > header > .italic-text {
    text-shadow: 0 0 14px var(--grey);
    font-family: "OpenSans", sans-serif;
    font-size: 24px;
    font-weight: 300;
    font-style: italic;
    color: var(--white);
}

.hero-section > header > .capitalize-text {
    text-shadow: 0 0 14px var(--grey);
    font-family: "OpenSans", sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: var(--white);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-section > .information-box {
    border: solid 0.5px var(--white);
    background-color: var(--light-purple-2);
}

.hero-section > .information-box > .search-box {
    opacity: inherit;
}

.hero-section > .information-box > .search-box > .name {
    text-shadow: 0 0 14px rgba(35, 31, 32, 0.5);
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: var(--white);
}

.hero-section > .information-box > .search-box > .search-input {
    height: 33px;
    margin: 12px 0 0;
    border-radius: 8px;
    background-color: var(--light-grey);
    width: calc(100% - 16px);
    min-width: 100px;

    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    font-weight: 300;
    opacity: 1; /* Firefox */

    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 300;
    font-stretch: normal;
    font-style: italic;
    line-height: normal;
    letter-spacing: 0.2px;

    padding-left: 15px;
}

.hero-section > .information-box > .search-box {
    padding: 12px 16px 23px 16px;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    font-weight: 300;
    opacity: 1; /* Firefox */

    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 300;
    font-stretch: normal;
    font-style: italic;
    line-height: normal;
    letter-spacing: 0.2px;
}

.hero-section > .information-box > .extended-box {
    display: flex;
    justify-content: space-between;

    border-top: solid 0.5px var(--white);

    height: 64px;
}

.hero-section > .information-box > .extended-box > .more-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;

    margin-left: 16px;

    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.2px;
    color: #fff;
}

.hero-section > .information-box > .extended-box > .more-info-desktop {
    display: none;
}

.hero-section
    > .information-box
    > .extended-box
    > .more-info
    > .arrow-button-box {
    background-color: var(--orange);
    width: 28px;
    height: 28px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 16px;
}

.hero-section > .information-box > .extended-box > .search-button {
    flex: 1;

    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.17px;
    color: var(--white);

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--orange);
}

.hero-section > .information-box > .extended-box > .search-button:hover {
    cursor: pointer;
    background-color: var(--light-orange);
}

/* Responsive */
/* Mobile */
.navigation > aside > .collapse-button {
    width: 24px;
    height: 24px;
    padding: 8px 8px 9px 9px;
    background-color: var(--white);
    border-radius: 50%;
}

.navigation > aside > .collapse-button > .line {
    height: 1px;
    margin: 3.5px 0 0;
    border: solid 1px var(--dark-purple);
    background-color: var(--dark-purple);
}

.navigation > .mobile-navigation {
    position: absolute;
    right: 20px;
}

@media screen and (min-width: 1024px) {
    .navigation > .right-navigation-box {
        display: flex;
    }

    .navigation > .mobile-navigation {
        position: relative;
        display: none;
    }

    .hero-section > header {
        padding-bottom: 47px;
    }

    .hero-section > header > .italic-text {
        font-size: 53px;
    }

    .hero-section > header > .capitalize-text {
        flex-direction: row;
        font-size: 22px;
    }

    body {
        background-size: cover;
    }

    .hero-section > .information-box {
        display: flex;
        align-items: center;

        height: 96px;
    }

    .hero-section > .information-box > .search-box {
        flex: 1;
        padding-right: 6px;
    }

    .hero-section > .information-box > .extended-box {
        border-top: none;
        height: 100%;

        flex: 2;
    }

    .hero-section > .information-box > .extended-box > .more-info {
        display: none;
    }

    .hero-section > .information-box > .extended-box > .more-info-desktop {
        display: flex;
    }

    .hero-section
        > .information-box
        > .extended-box
        > .more-info-desktop
        > .element {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        height: 100%;
    }

    .hero-section
        > .information-box
        > .extended-box
        > .more-info-desktop
        > .element
        > .title-box {
        display: flex;
        flex-direction: column;
        margin-top: 11px;
    }

    .hero-section
        > .information-box
        > .extended-box
        > .more-info-desktop
        > .element
        > .title-box
        > .title {
        font-family: "Open Sans", sans-serif;
        font-size: 15px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.2px;
        color: var(--white);
    }

    .hero-section
        > .information-box
        > .extended-box
        > .more-info-desktop
        > .element
        > .title-box
        > .sub-title {
        font-family: "Open Sans", sans-serif;
        font-size: 10px;
        font-weight: 300;
        font-stretch: normal;
        font-style: italic;
        line-height: normal;
        letter-spacing: 0.1px;
        color: var(--white);
    }

    .hero-section
        > .information-box
        > .extended-box
        > .more-info-desktop
        > .element
        > .amount-box {
        display: flex;
        justify-content: space-between;
        margin-bottom: 21px;
    }

    .hero-section
        > .information-box
        > .extended-box
        > .more-info-desktop
        > .element
        > .amount-box
        > .circle-button {
        border: 1px solid var(--dark-white);
        border-radius: 50%;
        height: 26px;
        width: 26px;

        display: flex;
        justify-content: center;
        align-items: center;

        font-family: "Open Sans", sans-serif;
        font-size: 23px;
        font-weight: 300;
        color: var(--dark-white);

        cursor: pointer;
    }

    .hero-section
        > .information-box
        > .extended-box
        > .more-info-desktop
        > .element
        > .amount-box
        > .circle-button:hover {
        background-color: var(--dark-white);
        color: var(--dark-purple);
    }

    .hero-section
        > .information-box
        > .extended-box
        > .more-info-desktop
        > .element
        > .amount-box
        > .number {
        font-family: "Open Sans", sans-serif;
        font-size: 22px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        color: var(--white);
        margin-left: 12px;
        margin-right: 14px;
    }

    .hero-section
        > .information-box
        > .extended-box
        > .more-info-desktop
        > .divider {
        width: 3px;
        height: 66px;
        margin: 13px 21px 0 27px;
        background-color: var(--white);
    }

    .hero-section > .information-box > .extended-box > .search-button {
        margin-left: 43px;
        padding-left: 50px;
        padding-right: 50px;
    }
}
