/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/* Set color variables */
:root {
    --white: #fff;
    --dark-white: #d8d8d8;
    --purple: #79438f;
    --dark-purple: #4b0082;
    --light-purple: #af60bc;
    --light-purple-2: rgba(121, 67, 143, 0.8);
    --light-purple-3: rgba(121, 67, 143, 0.65);
    --grey: rgba(35, 31, 32, 0.5);
    --light-grey: rgba(255, 255, 255, 0.4);
    --light-grey-2: #f5f5f5;
    --dark-grey: #464646;
    --orange: #ffb029;
    --light-orange: #ffc966;
}

body > .background-image {
    z-index: -10;
    position: absolute;
    top: 0;
    width: -webkit-fill-available;
}

.navigation {
    display: flex;
    justify-content: space-around;

    margin-top: 27px;
}

.navigation > .right-navigation-box {
    display: none;
}

.navigation > aside > .button-box > .icon-button {
    display: flex;
    align-items: center;

    width: 251px;
    height: 41px;
    margin: 0 8px 0 0;
    border: solid 1px var(--white);
}

.navigation > aside > .button-box > .icon-button > .text {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    color: var(--white);
    font-size: 13px;
    margin-left: 11px;
}

.navigation > aside > .button-box > .icon-button > .arrow-icon {
    margin-left: 35px;
}

.navigation > aside > .button-box > .purple-button {
    width: 250px;
    height: 29px;
    background: linear-gradient(
        to left,
        var(--dark-purple) 0%,
        var(--light-purple) 100%
    );

    margin-left: 12px;

    display: flex;
    align-items: center;

    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    color: var(--white);
}

.navigation > aside > .button-box > .purple-button {
    display: none;
}

.navigation > aside > .button-box > .purple-button > .add-icon {
    margin-left: 16px;
}

.navigation > aside > .button-box:hover > .purple-button {
    display: flex;
}

.navigation > aside > .button-box > .purple-button:hover {
    cursor: pointer;
}

.navigation > aside > .button-box > .purple-button > .text {
    margin-left: 10px;
}

.navigation > aside > .second-box {
    margin-left: 40px;
}

.navigation > .right-navigation-box > .about-box {
    display: flex;
    flex-direction: column;

    color: var(--white);
    padding-top: 12px;
    margin-left: 44px;
}

.navigation > .right-navigation-box > .about-box > .divider {
    width: 126px;
    height: 0.1px;
    margin: 12px 0 12px;
    border: solid 1px var(--dark-purple);
}

.navigation > .right-navigation-box > .about-box > .item {
    margin-bottom: 11px;
}

.navigation > .right-navigation-box > .language-box {
    display: flex;

    color: var(--white);
    padding-top: 12px;
    margin-left: 44px;
}

.navigation > .right-navigation-box > .language-box > .column-1 {
    margin-right: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navigation > .right-navigation-box > .language-box > .column-2 {
    margin-right: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navigation > .right-navigation-box > .language-box > .column-1 > .circle {
    border-radius: 50%;
    border: 1px solid var(--white);
    font-size: 13px;
    padding: 6px 6px 6px 5px;
    height: 30px;
    width: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 6px;

    cursor: pointer;
}

.navigation > .right-navigation-box > .language-box > .column-2 > .circle {
    border-radius: 50%;
    border: 1px solid var(--white);
    font-size: 13px;
    padding: 6px 6px 6px 5px;
    height: 30px;
    width: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 6px;

    cursor: pointer;
}

.navigation > .right-navigation-box > .language-box > .column-1 > .large {
    font-size: 15px;
    padding: 10px 10px 10px 11px;
    height: 40px;
    width: 40px;
}

.navigation > .right-navigation-box > .language-box > .column-2 > .large {
    font-size: 15px;
    padding: 10px 10px 10px 11px;
    height: 40px;
    width: 40px;
}

.navigation > .right-navigation-box > .language-box > .column-1 > .active {
    background: linear-gradient(
        to left,
        var(--dark-purple) 0%,
        var(--light-purple) 100%
    );
}

.navigation > .right-navigation-box > .language-box > .column-2 > .active {
    background: linear-gradient(
        to left,
        var(--dark-purple) 0%,
        var(--light-purple) 100%
    );
}

/* Hero section */
.hero-section {
    padding: 137px 0px 0px 0px;

    background-image: url("./assets/landingPage/hero-background-1440.jpg");
    background-repeat: no-repeat;
    background-size: 100% 600px;
    height: 65vh;
    margin-top: -89px;
}

/* Header of hero section */
.hero-section > header {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-bottom: 32px;
}

.hero-section > header > .italic-text {
    text-shadow: 0 0 14px var(--grey);
    font-family: "OpenSans", sans-serif;
    font-size: 24px;
    font-weight: 300;
    font-style: italic;
    color: var(--white);
}

.hero-section > header > .capitalize-text {
    text-shadow: 0 0 14px var(--grey);
    font-family: "OpenSans", sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: var(--white);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-section > .information-box {
    border: solid 0.5px var(--white);
    background-color: var(--light-purple-2);

    /* margin-left: 20px;
    margin-right: 20px; */

    margin-left: 55px;
    margin-right: 55px;
}

.hero-section > .information-box > .search-box {
    opacity: inherit;
}

.hero-section > .information-box > .search-box > .name {
    text-shadow: 0 0 14px rgba(35, 31, 32, 0.5);
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: var(--white);
}

.hero-section > .information-box > .search-box > .search-input {
    height: 33px;
    margin: 12px 0 0;
    border-radius: 8px;
    background-color: var(--light-grey);
    width: calc(100% - 16px);
    min-width: 100px;

    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    font-weight: 300;
    opacity: 1; /* Firefox */

    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 300;
    font-stretch: normal;
    font-style: italic;
    line-height: normal;
    letter-spacing: 0.2px;

    padding-left: 15px;
}

.hero-section > .information-box > .search-box {
    padding: 12px 16px 23px 16px;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    font-weight: 300;
    opacity: 1; /* Firefox */

    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 300;
    font-stretch: normal;
    font-style: italic;
    line-height: normal;
    letter-spacing: 0.2px;
}

.hero-section > .information-box > .extended-box {
    display: flex;
    justify-content: space-between;

    border-top: solid 0.5px var(--white);

    height: 64px;
}

.hero-section > .information-box > .extended-box > .more-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;

    margin-left: 16px;

    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.2px;
    color: #fff;
}

.hero-section > .information-box > .extended-box > .more-info-desktop {
    display: none;
}

.hero-section
    > .information-box
    > .extended-box
    > .more-info
    > .arrow-button-box {
    background-color: var(--orange);
    width: 28px;
    height: 28px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 16px;
}

.hero-section > .information-box > .extended-box > .search-button {
    flex: 1;

    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.17px;
    color: var(--white);

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--orange);
    display: flex;
}

.hero-section > .information-box > .search-button-desktop {
    flex: 0.5;

    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.17px;
    color: var(--white);

    display: none;
    justify-content: center;
    align-items: center;

    background-color: var(--orange);
    height: 100%;
    margin-left: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.hero-section > .information-box > .extended-box > .search-button:hover {
    cursor: pointer;
    background-color: var(--light-orange);
}

.hero-section > .information-box > .search-button-desktop:hover {
    cursor: pointer;
    background-color: var(--light-orange);
}

.introduction-box {
    color: var(--orange);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.introduction-box > .large {
    font-family: "Open Sans", sans-serif;
    font-size: 40px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.3px;
    color: var(--dark-purple);

    padding-top: 18px;
}

.introduction-box > .small {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 3.4px;
    color: var(--dark-purple);

    margin-bottom: 16px;
}

.introduction-box > .group-dot {
    display: none;
}

.introduction-box > .flexible-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.introduction-box > .flexible-box > .circle-info-box {
    background-color: var(--orange);

    width: 254px;
    height: 254px;

    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.introduction-box > .flexible-box > .circle-info-box > .info-box {
    color: var(--white);

    margin-left: 80px;
}

.introduction-box > .flexible-box > .circle-info-box > .info-box > .title {
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 300;
    font-stretch: normal;
    font-style: italic;
    line-height: 1.21;
    letter-spacing: 0.19px;
    color: var(--white);
}

.introduction-box > .flexible-box > .circle-info-box > .info-box > p {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.64;
    letter-spacing: 0.21px;
    color: var(--white);

    margin-left: -45px;
}

.introduction-box > .flexible-box > .circle-info-box {
    position: relative;
}

.introduction-box > .flexible-box > .circle-info-box > .icon-image-info {
    position: absolute;
    left: -40px;
    top: -10px;
}

.small-dot {
    width: 3px;
    height: 3px;
    margin: 0 6px;
    background-color: var(--orange);
}

.mt-4 {
    margin-top: 4px;
}

.mb-4 {
    margin-bottom: 4px;
}

.universe-box {
    background-color: var(--light-grey-2);

    margin-top: 38px;
    padding: 22px 20px 40px 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.universe-box > .title {
    font-family: "Open Sans", sans-serif;
    font-size: 26px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.15;
    letter-spacing: 0.84px;
    color: var(--dark-purple);
}

.universe-box > .sub-title {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2.98px;
    color: var(--dark-purple);
}

.universe-box > .square-box-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 8px;

    margin-top: 31px;
}

.universe-box > .square-box-group > .square-box {
    position: relative;
}

.universe-box > .square-box-group > .square-box > .purple {
    background-color: var(--dark-purple);
    opacity: 0.4;

    height: 100%;
    width: 100%;

    position: absolute;
    top: 0;
}

.universe-box > .square-box-group > .gastronomy {
    background-image: url("./assets/landingPage/theUniverses/gastronomy.jpg");
    background-size: cover;
}

.universe-box > .square-box-group > .sport-and-adventure {
    background-image: url("./assets/landingPage/theUniverses/sportAndAdventure.jpg");
    background-size: cover;
}

.universe-box > .square-box-group > .arts-and-music {
    background-image: url("./assets/landingPage/theUniverses/artsAndMusic.jpg");
    background-size: cover;
}

.universe-box > .square-box-group > .culture-and-heritage {
    background-image: url("./assets/landingPage/theUniverses/cultureAndHeritage.jpg");
    background-size: cover;
}

.universe-box > .square-box-group > .language-and-educaion {
    background-image: url("./assets/landingPage/theUniverses/languageAndEducation.jpg");
    background-size: cover;
}

.universe-box > .square-box-group > .fauna-and-flora {
    background-image: url("./assets/landingPage/theUniverses/faunaAndFlora.jpg");
    background-size: cover;
}

.universe-box > .square-box-group > .nature-and-wellness {
    background-image: url("./assets/landingPage/theUniverses/natureAndWellness.jpg");
    background-size: cover;
}

.universe-box > .square-box-group > .science-and-technology {
    background-image: url("./assets/landingPage/theUniverses/scienceAndTechnology.jpg");
    background-size: cover;
}

.universe-box > .square-box-group > .eco-friendly {
    background-image: url("./assets/landingPage/theUniverses/ecoFriendly.jpg");
    background-size: cover;
}

.universe-box > .square-box-group > .square-box {
    height: 136px;
    width: 136px;
}

.universe-box > .square-box-group > .square-box:hover > .purple {
    display: none;
}

.universe-box > .square-box-group > .square-box > .title {
    font-family: "Open Sans", sans-serif;
    font-size: 19px;
    font-weight: normal;
    font-stretch: normal;
    font-style: italic;
    line-height: 1.11;
    letter-spacing: normal;
    color: var(--white);

    margin-top: 50%;
    margin-left: 12px;
}

.universe-box > .square-box-group > .square-box > .circle {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 1px solid var(--white);
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 10%;
    right: 10%;
}

.yellow-box {
    border: solid 1px var(--orange);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.yellow-box:hover {
    cursor: pointer;
    border: solid 3px var(--orange);
}

.yellow-box > p {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.77px;
    text-align: center;
    color: var(--orange);
}

.universe-box > .desktop-mode {
    display: none;
}

.activities-box {
    padding-top: 72px;
}

.activities-box > .title {
    font-family: "Open Sans", sans-serif;
    font-size: 26px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.15;
    letter-spacing: 0.84px;
    text-align: center;
    color: var(--dark-purple);

    margin-left: 66px;
    margin-right: 66px;
}

.activities-box > .sub-title {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2.98px;
    text-align: center;
    color: var(--dark-purple);

    margin-left: 20px;
    margin-right: 20px;
    margin-top: 6px;
}

.activities-box > .icons-box {
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px;

    justify-items: center;
    align-items: center;

    width: 100%;

    margin-top: 41px;
    padding-bottom: 47px;
}

.activities-box > .icons-box > .element {
    width: 88px;
}

.activities-box > .icons-box > .element > .circle-icon {
    border: 3px solid var(--dark-purple);
    width: 88px;
    height: 88px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.activities-box > .icons-box > .element > .circle-icon:hover {
    background-color: var(--dark-purple);
}

.activities-box > .icons-box > .element > .circle-icon:hover > img {
    /* change image color to white */
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
}

.activities-box > .icons-box > .element > .title {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 300;
    font-stretch: normal;
    font-style: italic;
    line-height: 1.2;
    letter-spacing: 0.3px;
    text-align: center;
    color: var(--dark-purple);

    margin-top: 9px;
}

.hero-section
    > .activities-box
    > .icons-box
    > .element
    > .circle-icon
    > .icon-image {
    width: 50%;
}

.hero-section
    > .activities-box
    > .icons-box
    > .element:hover
    > .circle-icon
    > .icon-image {
    fill: red;
}

.local-expert {
    background-color: var(--light-purple-3);

    position: relative;
}

.local-expert > .background-layer {
    background-image: url("./assets/landingPage/ourLocalExpertsBg-min.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
}

.local-expert > .purple-layer {
    z-index: -1;
    height: 100%;
    width: 100%;
    background-color: var(--purple);
    opacity: 0.65;
}

.local-expert > .sub-title {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2.98px;
    text-align: center;
    color: var(--white);

    padding-top: 30px;
}

.local-expert > .title {
    font-family: "Open Sans", sans-serif;
    font-size: 26px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.15;
    letter-spacing: 0.84px;
    text-align: center;
    color: var(--white);

    margin-left: 84px;
    margin-right: 84px;
    margin-bottom: 36px;
}

.local-expert > .carosel-box {
    overflow: hidden;
    display: flex;
    align-items: center;
}

.local-expert > .carosel-box > .element {
    background-color: var(--white);
    width: fit-content;

    padding: 18px 10px 19px 10px;
    margin-left: 20px;
}

.local-expert > .carosel-box > .arrow-icon {
    display: none;
}

.local-expert > .carosel-box > .arrow-right {
    margin-left: 20px;
}

.local-expert
    > .carosel-box
    > .arrow
    .hero-section
    > .local-expert
    > .carosel-box
    > .element
    > .name {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: italic;
    line-height: normal;
    letter-spacing: -0.3px;
    color: var(--dark-grey);

    margin-top: 4px;
}

.local-expert > .carosel-box > .element > .place {
    display: flex;
    align-items: center;
}

.local-expert > .carosel-box > .element > .place > .map-icon {
    width: 9px;
    height: 14px;
    background-image: url(./assets/icons/mapIcon.svg);
    background-repeat: no-repeat;
}

.local-expert > .carosel-box > .element:hover > .place > .map-icon {
    width: 9px;
    height: 14px;
    background-image: url(./assets/icons/mapIconHover.svg);
    background-repeat: no-repeat;
}

.local-expert > .carosel-box > .element > .place > .text {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.42;
    letter-spacing: 0.2px;
    color: var(--dark-grey);
    margin-left: 6px;
}

.local-expert > .carosel-box > .element > .review-box {
    display: flex;
    align-items: center;
}

.local-expert > .carosel-box > .element > .review-box > .dot-group {
    display: flex;
}

.local-expert > .carosel-box > .element > .review-box > .dot-group > .dot {
    width: 9px;
    height: 9px;
    margin: 4px 4px 4px 0px;
    border: solid 1px var(--dark-purple);
    border-radius: 50%;
}

.local-expert > .carosel-box > .element > .review-box > .dot-group > .active {
    background-color: var(--dark-purple);
}

.local-expert > .carosel-box > .element > .review-box > .details {
    font-family: "Open Sans", sans-serif;
    font-size: 10px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.7;
    letter-spacing: 0.2px;
    color: var(--orange);
    text-decoration: underline;

    margin-left: 11px;
}

.local-expert > .carosel-box > .element > .tag-box {
    display: flex;
    align-items: center;
}

.local-expert > .carosel-box > .element > .tag-box > .element {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.42;
    letter-spacing: 0.2px;
    color: var(--dark-purple);
}

.local-expert > .carosel-box > .element > .tag-box > .element:nth-child(2) {
    margin-left: 6px;
}

.local-expert > .carosel-box > .element > .button-meet-me {
    width: 100%;
    height: 37px;
    border: solid 1px var(--orange);
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 18px;
}

.local-expert > .carosel-box > .element > .button-meet-me > .text {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2.1px;
    color: var(--orange);
}

.local-expert > .carosel-box > .element > .button-meet-me:hover {
    cursor: pointer;
}

.local-expert {
    padding-bottom: 83px;
}

.local-expert > .carosel-box > .element:hover > .name {
    color: var(--white);
}

.local-expert > .carosel-box > .element:hover > .button-meet-me {
    background-color: var(--orange);
}

.local-expert > .carosel-box > .element:hover > .button-meet-me > .text {
    color: var(--white);
}

.local-expert > .carosel-box > .element {
    position: relative;
}

.local-expert > .carosel-box > .element > .background-layer {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;

    position: absolute;
}

.local-expert > .carosel-box > .element:hover {
    background-color: transparent;
}

.local-expert > .carosel-box > .element:hover > .background-layer {
    z-index: -1;
    left: 0;
    top: 0;
    opacity: 0.3;
    background-color: var(--white);
}

.our-values {
    padding: 26px 20px 66px 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.our-values > .title {
    font-family: "Open Sans", sans-serif;
    font-size: 26px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.15;
    letter-spacing: 0.84px;
    text-align: center;
    color: var(--dark-purple);

    margin-left: 84px;
    margin-right: 84px;
}

.our-values > .sub-title {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.42;
    letter-spacing: -0.3px;
    color: var(--dark-purple);

    margin-left: 84px;
    margin-right: 84px;
}

.our-values > .flexible-box {
    display: flex;
    flex-direction: column;
}

.our-values > .flexible-box > .element {
    margin-top: 28px;
}

.our-values > .flexible-box > .element > .small-circle {
    width: 178px;
    height: 178px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: -1;
    margin-left: 105px;

    position: relative;
}

.our-values > .flexible-box > .element > .eco-friendly {
    background-image: url(./assets/landingPage/whyLeonaa1.jpg);
    background-size: cover;
}

.our-values > .flexible-box > .element > .local {
    background-image: url(./assets/landingPage/whyLeonaa2.jpg);
    background-size: cover;
}

.our-values > .flexible-box > .element > .custo {
    background-image: url(./assets/landingPage/whyLeonna3.jpg);
    background-size: cover;
}

.our-values > .flexible-box > .element > .small-circle > .orange-layer {
    background-color: var(--orange);
    opacity: 0.6;
    height: 100%;
    width: 100%;
    border-radius: 50%;

    position: absolute;
}

.our-values > .flexible-box > .element > .large-circle {
    width: 240px;
    height: 240px;
    background-color: var(--dark-purple);
    border-radius: 50%;

    margin-top: -70px;

    padding-top: 50px;
    padding-left: 50px;
}

.our-values > .flexible-box > .element > .large-circle > .title {
    font-family: "Open Sans", sans-serif;
    font-size: 22px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.18;
    letter-spacing: 0.3px;
    color: var(--white);
}

.our-values > .flexible-box > .element > .large-circle > .details {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: 0.21px;
    color: var(--white);

    margin-top: 4px;
}

/* Footer */
footer {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--dark-purple);

    padding-top: 24px;
}

footer > .logo-image {
    height: auto;
    width: 148px;
}

footer > .flexible-box {
    display: flex;
    flex-direction: column;
    width: 50vw;

    margin-top: 53px;
    padding-left: 43px;
    padding-right: 66px;
}

footer > .flexible-box > .element > .large {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: 1.18px;
    color: var(--white);
}

footer > .flexible-box > .element > .bold {
    font-weight: 600;
}

.small {
    font-family: "Open Sans", sans-serif;
    font-size: 10px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.6;
    letter-spacing: 1.3px;
    color: var(--white);
}

footer > .flexible-box > .element > .paragrap-16 {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: 1.3px;
    color: var(--white);
}

footer > .reference {
    padding: 53px 0 64px 0;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: 1.3px;
    text-align: center;
    color: var(--white);

    margin-left: 31px;
    margin-right: 31px;
    padding-left: 33px;
    padding-right: 33px;
}

.mini-icon {
    height: 15px;
    margin-left: 1px;
}

footer > .flexible-box > .element:not(:first-child) {
    margin-top: 32px;
}

.mt-32 {
    margin-top: 32px;
}

/* Responsive */
/* Mobile */
.navigation > aside > .collapse-button {
    width: 24px;
    height: 24px;
    padding: 8px 8px 9px 9px;
    background-color: var(--white);
    border-radius: 50%;
}

.navigation > aside > .collapse-button > .line {
    height: 1px;
    margin: 3.5px 0 0;
    border: solid 1px var(--dark-purple);
    background-color: var(--dark-purple);
}

.navigation > .mobile-navigation {
    position: absolute;
    right: 20px;
}

@media screen and (min-width: 1024px) {
    .navigation > .right-navigation-box {
        display: flex;
    }

    .navigation > .mobile-navigation {
        position: relative;
        display: none;
    }

    .hero-section {
        margin-top: -207px;
    }

    .hero-section > header {
        padding-bottom: 47px;
        padding-top: 85px;
    }

    .hero-section > header > .italic-text {
        font-size: 53px;
    }

    .hero-section > header > .capitalize-text {
        flex-direction: row;
        font-size: 22px;
    }

    body {
        background-size: cover;
    }

    .hero-section > .information-box {
        display: flex;
        align-items: center;

        height: 96px;
        /* width: 1350px; */
    }

    .hero-section > .information-box > .search-box {
        flex: 1;
        padding-right: 6px;
    }

    .hero-section > .information-box > .extended-box {
        border-top: none;
        height: 100%;

        flex: 2;
    }

    .hero-section > .information-box > .extended-box > .more-info {
        display: none;
    }

    .hero-section > .information-box > .extended-box > .more-info-desktop {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

    .hero-section
        > .information-box
        > .extended-box
        > .more-info-desktop
        > .element {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        height: 100%;
    }

    .hero-section
        > .information-box
        > .extended-box
        > .more-info-desktop
        > .element
        > .title-box {
        display: flex;
        flex-direction: column;
        margin-top: 11px;
    }

    .hero-section
        > .information-box
        > .extended-box
        > .more-info-desktop
        > .element
        > .title-box
        > .title {
        font-family: "Open Sans", sans-serif;
        font-size: 15px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.2px;
        color: var(--white);
    }

    .hero-section
        > .information-box
        > .extended-box
        > .more-info-desktop
        > .element
        > .title-box
        > .sub-title {
        font-family: "Open Sans", sans-serif;
        font-size: 10px;
        font-weight: 300;
        font-stretch: normal;
        font-style: italic;
        line-height: normal;
        letter-spacing: 0.1px;
        color: var(--white);
    }

    .hero-section
        > .information-box
        > .extended-box
        > .more-info-desktop
        > .element
        > .amount-box {
        display: flex;
        justify-content: space-between;
        margin-bottom: 21px;
    }

    .hero-section
        > .information-box
        > .extended-box
        > .more-info-desktop
        > .element
        > .amount-box
        > .circle-button {
        border: 1px solid var(--dark-white);
        border-radius: 50%;
        height: 26px;
        width: 26px;

        display: flex;
        justify-content: center;
        align-items: center;

        font-family: "Open Sans", sans-serif;
        font-size: 23px;
        font-weight: 300;
        color: var(--dark-white);

        cursor: pointer;
    }

    .hero-section
        > .information-box
        > .extended-box
        > .more-info-desktop
        > .element
        > .amount-box
        > .circle-button:hover {
        background-color: var(--dark-white);
        color: var(--dark-purple);
    }

    .hero-section
        > .information-box
        > .extended-box
        > .more-info-desktop
        > .element
        > .amount-box
        > .number {
        font-family: "Open Sans", sans-serif;
        font-size: 22px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        color: var(--white);
        margin-left: 12px;
        margin-right: 14px;
    }

    .hero-section
        > .information-box
        > .extended-box
        > .more-info-desktop
        > .divider {
        width: 3px;
        height: 66px;
        margin: 13px 10px 0 10px;
        background-color: var(--white);
    }

    .hero-section > .information-box > .extended-box > .search-button {
        margin-left: 43px;
        padding-left: 50px;
        padding-right: 50px;

        display: none;
    }

    .hero-section > .information-box > .search-button-desktop {
        display: flex;
    }

    .introduction-box > .flexible-box {
        flex-direction: row;
    }

    .introduction-box > .group-dot {
        display: block;
    }

    .introduction-box > .large {
        padding-top: 40px;
    }

    .universe-box {
        padding-bottom: 131px;
    }

    .universe-box > .title {
        font-family: "Open Sans", sans-serif;
        font-size: 40px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 1.3px;
        text-align: center;
        color: var(--dark-purple);
    }

    .universe-box > .sub-title {
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 3.4px;
        text-align: center;
    }

    .universe-box > .square-box-group > .square-box {
        height: 20vw;
        width: 20vw;
    }

    .universe-box > .square-box-group {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 8px;

        margin-top: 31px;
    }

    .universe-box > .square-box-group > .mobile-mode {
        display: none;
    }

    .universe-box > .desktop-mode {
        display: block;
        width: 400px;
        padding-top: 17px;
        padding-bottom: 16px;

        margin-top: 100px;
    }

    .activities-box {
        padding-top: 113px;
    }

    .activities-box > .title {
        font-family: "Open Sans", sans-serif;
        font-size: 40px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 1.3px;
        color: var(--dark-purple);
    }

    .activities-box > .sub-title {
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 3.4px;
        color: var(--dark-purple);

        margin-top: 1px;
    }

    .activities-box > .icons-box {
        display: flex;
        justify-content: space-around;
        align-items: start;

        margin-top: 75px;
    }

    .activities-box > .icons-box > .element > .title {
        margin-top: 16px;
    }

    .activities-box > .icons-box > .element {
        width: 130px;
    }

    .activities-box > .icons-box > .element > .circle-icon {
        width: 130px;
        height: 130px;
    }

    .local-expert {
        padding-bottom: 64px;
    }

    .local-expert > .carosel-box > .arrow-icon {
        display: block;
    }

    .local-expert > .carosel-box {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .our-values {
        padding-top: 95px;
        padding-bottom: 113px;
    }

    .our-values > .title {
        font-size: 40px;
    }

    .our-values > .sub-title {
        font-size: 16px;
    }

    .our-values > .flexible-box {
        flex-direction: row;
    }

    .our-values > .flexible-box > .element:nth-child(2) {
        margin-left: 10px;
        margin-right: 10px;
    }

    .our-values > .flexible-box > .element:nth-child(2n + 1) {
        margin-top: -60px;
    }

    .our-values > .flexible-box > .element-1 > .small-circle {
        margin-left: -24px;
    }

    .our-values > .flexible-box > .element-2 > .large-circle {
        margin-top: -392px;
        margin-left: -22px;
    }

    .our-values > .flexible-box > .element-2 {
        margin-top: 395px;
    }

    footer > .flexible-box {
        flex-direction: row;
        justify-content: space-around;
        margin-top: 80px;
        align-items: baseline;
    }

    footer > .logo-image {
        width: 324px;
    }

    footer > .reference {
        padding: 127px 0 91px 0;
        font-family: "Open Sans", sans-serif;
        font-size: 22px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.18;
        letter-spacing: 1.3px;
        text-align: center;
        color: var(--white);
    }

    footer > .flexible-box > .element > .large {
        font-size: 22px;
    }

    .small {
        font-size: 13px;
    }

    .universe-box > .square-box-group > .square-box > .circle {
        height: 39px;
        width: 39px;
    }

    .universe-box > .square-box-group > .square-box > .circle > img {
        width: 15px;
    }
}
